<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Employee Report</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-Mail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @employee.first_name %></td>
          <td><%= @employee.last_name %></td>
          <td><a href="@employee.email.delete("()")"><%= @employee.email.delete("()") %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>